* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
head {
    width: 1440px;
    height: 1461px;
}
.backgraund {
    background-image: url(../backgraund/204398-OZ3P4A-964.png);
    position: absolute;
    width: 1440px;
    height: 372px;
}
h1 {
    font-weight: 500;
    font-size: 54px;
    color: #003395;
    margin: 120px 0px 0px 0px;
}
.backraund_text {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    margin: 27px 0px 0px 0px;
}
nav {
    background-color: #003395;
    display: inline-block;
    width: 1440px;
    height: 75px;
    top: 150px;
    margin: 372px 0 0 0;
}
li {
    list-style-type: none;
    margin-left: 87px;
    margin-top: 25px;
}
Li>a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 62px;
}
div {
    padding-left: 148px;
    padding-right: 539px;
    padding-top: 70px;
}
.line_one,
.line_three,
.line_five {
    width: 754px;
    color: #003395;
    font-weight: 700;
    font-size: 27px;
    border-top: 2px solid #003395;
    border-bottom: 2px solid #003395;
    padding: 13px 0 13px 0;
}
.Line_two,
.Line_four,
.line_sixth {
    width: 754px;
    height: 120px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #30233D;
    padding-top: 16px;
}
.block_right {
    position: absolute;
    width: 362px;
    height: 244px;
    left: 1000px;
    top: 502px;
    padding: 19px;
    border: 2px solid #33008D;
    box-sizing: border-box;
}
.block_right_two {
    position: absolute;
    width: 362px;
    height: 352px;
    left: 1000px;
    top: 802px;
    padding:19px;
    border: 2px solid #33008D;
    box-sizing: border-box;
}
.block_two{
    margin-top:19px;
}
.block_one, .block_three {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #ffffff;
    background-color: #24B0FF;
    padding:10px;
}
.links{
    padding:0 0 0 0;
    
}
.links li{
    margin:22px 0 0 0;
}
.links a{
    color:#30233D;
    font-weight: 400;
    font-size: 16.2px;
    line-height: 32px;
    text-decoration: underline;
    margin-right: 130px;
    margin-left: 5px;
    }
footer {
    background: linear-gradient(180deg, #003395 0%, #00205F 100%);
    position: absolute;
    width: 1440px;
    height: 148px;
    left: 0px;
    top: 1313px;

}

footer>p {
    position: absolute;
    width: 198px;
    height: 20px;
    left: 1095px;
    top: 45px;
    font-weight: 400;
    font-size: 11.7px;
    text-align: right;
    color: #ffffff;
}

head {
    background-color: #E5E5E5;
}

span {
    text-decoration: underline;
    color: #003395;
}